---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GitHub from "../icons/GitHub.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkendIn from "../icons/LinkendIn.astro";
import Mail from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../icons/Briefcase.astro";
import CodeIcon from "../icons/CodeIcon.astro"

---

<Layout title="Portafolio de John Cotamo">
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <h1
        class="text-white md:text-4xl text-3xl lg:text-5xl font-bold flrx flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey,soy John <a
          href="https://www.google.com"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para Trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span> +1 años de experiencia.</span>
        <span class="text-yellow-100/90"
          >Desarrollador Front. De Colombia, Bogota . Especializado en crear
          Web.
        </span>
      </h2>
      <nav class="flex gap-x-4 mt-8 flex-wrap">
        <SocialPill href="https://github.com/cotamo1901">
          <GitHub class="size-4 lg:size-6" />
           GitHub
        </SocialPill>

        <SocialPill
          href="https://www.linkedin.com/in/john-alexander-cotamo-molina-463005144/"
        >
          <LinkendIn class="size-4 lg:size-6" />
           LinkendIn
        </SocialPill>

        <SocialPill
          href="https://www.linkedin.com/in/john-alexander-cotamo-molina-463005144/"
        >
          <Mail class="size-4 lg:size-6" />
           johncotamo@hotmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-8" />Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-8" />Proyectos
      </h2>
      <Experience />
      <Projects/>
    </SectionContainer>
  </main>
</Layout>
