---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold flrx flex-row gap-x-4 pb-10">
        Hey,soy John <a
          href="https://www.google.com"
          target="_blank"
		  rel="noopener"
          class="flex justify-center"
        >
          <Badge>Disponible para Trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl opacity-80">
        +1 años de experiencia. Desarrollador Front. De Colombia, Bogota .
        Especializado en crear Web.
      </h2>

      <ul></ul>
    </section>
  </main>
</Layout>
