<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <img class="rounded-full w-12 h-12" src="https://media.licdn.com/dms/image/C4E03AQEc2IGVdeafZg/profile-displayphoto-shrink_200_200/0/1647263060762?e=2147483647&v=beta&t=l7IWLc0MiVV4d3Ro_SsrjL7axUnvADgxV_xcdjDF--Q" alt="logo">

    <nav class="flex flex-row gap-x-10 opacity-80">
         <a href="/">Inicio</a>
         <a href="/about">Sobre mi</a>
         <a href="#experiencia">Experiencia</a>
         <a href="/Project">Proyectos</a>
         <a href="/Contact">Contacto</a>
    </nav>

</header>